altair
pandas
streamlit
openai
langchain
datasets==2.10.1
pinecone-client==3.1.0
tiktoken==0.5.2
langchain-community==0.0.18
langchain-core==0.1.19
langchain-openai==0.0.6
langchain-pinecone
langsmith==0.0.87
faiss-cpu
pypickle
elevenlabs
SpeechRecognition
PyAudio
